@import 'toastr';
@import './_var/color';
@import './_mixin/font';
@import './_mixin/btn';
@import './_mixin/container';
@import './_section/nav';
@import './_section/header';
@import './_section/section-elems';
@import './_section/faq';
@import './_section/accordion';
@import './_section/contact';
@import './_section/form';
@import './_section/footer';

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: unset;
    transition: 0.3s all ease-in-out;

    &:hover {
        text-decoration: unset;
        transition: 0.3s all ease-in-out;
    }
}

body {
    font-family: 'Palanquin', sans-serif;
}
